* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background: royalblue;
    color: white;
    text-align: center;
  
    padding: 10px;
}

#container {
    /* width: 1000px; */
    display: flex;
    justify-content: flex-start;
    /* margin: 0 auto; */
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#search_area {
    flex: 1.5;
    height: 500px;
    padding: 10px;
    border: black solid 3px;
    margin-top: 41px;
}

#search_area input {
    margin-top: 20px;
    width: 100%;
    height: 30px;
}

#search_area button {
    margin-top: 10px;
    width: 100%;
    height: 30px;
}

#search_area h2 {
    text-align: left;
    font-weight: normal;
}

#search_area h3 {
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
}
.hr {
    width: 75%;
    border: black 1px solid;
    margin: 0 auto;
}

#conditions_area {
   flex: 4;
}

#current_conditions {
    border: black 3px solid;
    margin-left: 10px;
    padding: 20px;
    line-height: 1.5;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: royalblue;
    color: white;
}

#current_date {
    font-size: 22px;
    font-weight: bold;
}

#data_box {
    display: flex;
    align-items: center;
    padding: 10px;
    border: black 3px solid;
    background: white;
    color: black;
}

#data_box img {
    width: 150px;
    flex: 1;
}

#data_box i {
    text-align: center;
    font-size: 55px;
    flex: 1;
}

.card_header {
    text-align: center;
    font-weight: normal;

}

.conditions_box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

#conditions_area h2 {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

#forecast {
    display: flex;
    flex-direction: col;
    justify-content: space-between;
}

.day_card {
    flex: 1;
    border: black 3px solid;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: royalblue;
    color: white;
    text-align: center;
}

.day_card h3 {
    font-size: 20px;
}

.conditions_box i {
    font-size: 28px;
}

.conditions_box img {
    width: 50px;
}

