* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background: blue;
    color: white;
    text-align: center;
  
    padding: 10px;
}

#container {
    /* width: 1000px; */
    display: flex;
    justify-content: flex-start;
    /* margin: 0 auto; */
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#search_area {
    flex: 1.5;
    padding: 10px;
    border: black solid 1px;
}

#search_area input {
    margin-top: 20px;
    width: 100%;
    height: 30px;
}

#search_area button {
    margin-top: 10px;
    width: 100%;
    height: 30px;
}

#search_area h2 {
    text-align: left;
}



#conditions_area {
   flex: 4;
}

#conditions_area h2 {
    text-align: center;
}

#current_conditions {
    border: black 1px solid;
    margin-left: 10px;
    padding: 10px;
    line-height: 1.5;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#data_box {
    display: flex;
    align-items: center;
    padding: 10px;
    border: black 1px solid;
    background: rgb(135, 222, 215);
}

#data_box img {
    width: 150px;
    flex: 1;
}

#data_box i {
    text-align: center;
    font-size: 55px;
    flex: 1;
}

.card_header {
    text-align: center;
}

.conditions_box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

#forecast {
    display: flex;
    flex-direction: col;
    justify-content: space-between;
}

.day_card {
    flex: 1;
    border: black 1px solid;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day_card h3 {
    font-size: 20px;
}

.conditions_box i {
    font-size: 28px;
}

.conditions_box img {
    width: 50px;
}

